[user]
	email = epandurski@gmail.com
	name = Evgeni Pandurski
	signingkey = 1596E1ACC6D3FE56CB71792F84B44B1E45D42FA3
[log]
	abbrevCommit = yes
[color]
	ui = auto
[merge]
	tool = mymeld
	conflictstyle = diff3
[mergetool "mymeld"]
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE --output $MERGED
[remote]
	pushdefault = origin
[push]
	default = simple
[core]
	excludesfile = /home/evgeni/.gitignore_global
[commit]
	gpgsign = true
